#image-gallery {
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto;   
}

.grid-item {
    border: 2px solid rgba(168, 19, 19, 0.8);
}

h1, h3, figure {
    text-align: center;
    color: rgba(168, 19, 19, 0.8)
}

img {
    width: 110px;
    height: 180px;
}

figcaption {
    font-style: italic;
    font-size: .75em;
}

#footer {
    float: right;
    margin-top: 60%;
    margin-bottom: 20px;
}